<section class="section-default">
    <div class="section-title">
        <h2>About Twitch Tools</h2>
    </div>
    <div class="section-body medium-text left-align">
        <div class="section-content">
            <h3>Purpose of the project</h3>
            The main goal of Twitch Tools is to provide free tools and free services that help Twitch users maximize their experience
            while watching live streams from Twitch. Twitch Tools are designed as a third party website and we are not paired with Twitch.
        </div>
        <div class="section-content ">
            <h3>Project details</h3>
            Twitch Tools is a Single Page Application (SPA) written in JavaScript, using JQuery for DOM manipulations and AJAX requests, and Sammy for routing.
            <ul class="list center-align">
                <li class="item"><img src="resources/images/html-5-icon.png" class="img" width="96" height="96" alt="HTML 5" /></li>
                <li class="item"><img src="resources/images/css-3-icon.png" class="img" width="96" height="96" alt="CSS 3" /></li>
                <li class="item"><img src="resources/images/jquery-icon.png" class="img" width="96" height="96" alt="jQuery" /></li>
                <li class="item"><img src="resources/images/javascript-icon.png" class="img" width="96" height="96" alt="JavaScript" /></li>
                <li class="item"><img src="resources/images/ajax-icon.png" class="img" width="96" height="96" alt="AJAX" /></li>
            </ul>
        </div>
    </div>
</section>