<section class="section section-default">
    <div class="section-title">
        <h2>{{ sectionTitle }}</h2>
    </div>
    <div class="section-body">
        <div class="section-content">
            <a class="btn btn-info" href="{{ buttonUrl }}">
                {{ buttonText }}
            </a>
        </div>
    </div>
</section>