<section class="section section-default">
    <div class="section-title">
        <h2>Contact Us</h2>
    </div>
    <div class="section-body">
        <div class="section-content">
            <ul class="list">
                <li class="item">
                    <a title="Twitch Tools on Facebook" target="_blank" href="https://www.facebook.com/TwitchTools">
                        <img class="img" src="resources/images/facebook-icon.png" alt="Facebook" width="128" height="128" />
                    </a>
                </li>
                <li class="item">
                    <a title="Twitch Tools on Google Plus" target="_blank" href="https://plus.google.com/+НанкоГешков">
                        <img class="img" src="resources/images/google-plus-icon.png" alt="Google Plus" width="128" height="128" />
                    </a>
                </li>
                <li class="item">
                    <a title="Twitch Tools on YouTube" target="_blank" href="https://www.youtube.com/channel/UCeowWUK9j21wZcC6TNrpITw">
                        <img class="img" src="resources/images/youtube-icon.png" alt="YouTube" width="128" height="128" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>