<div class="row">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Twitch Tools Download Section -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-4471253293812023"
         data-ad-slot="5698100394"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="row">
    <section class="section section-default col col-6" id="section-video-download">
        <div class="section-title">
            <h2>Twitch Video Downloader</h2>
        </div>
        <div class="section-body">
            <div class="section-content">
                <p>Enter a valid video URL/ID and press the <span class="bold">Download</span> button</p>
                <p>Example: <span class="bold">http://www.twitch.tv/doomnothx/c/3659251</span> or <span class="bold">c3659251</span></p>
            </div>
            <div class="section-content">
                <span class="bold">Broadcast/Highlight:</span> 
                <input class="input" name="video" placeholder="video url/id" type="text" id="video-url" /> 
                <button id="download-video" class="btn btn-default">Download</button>
            </div>
            <div id="download-link"></div>
        </div>
    </section>
    <section class="section section-default col col-6">
        <div class="section-title">
            <h2>Download Statistics</h2>
        </div>
        <div class="section-body">
            <div class="section-content">
                Downloaded Broadcasts/Highlight: <span id="total-downloads"></span>
            </div>
        </div>
    </section>
</div>
<section class="section section-default">
    <div class="section-title">
        <h2>How to download M3U8 playlists</h2>
    </div>
    <div class="section-body">
        <div class="section-content">
            <h3>Requirements</h3>
            <ul>
                <li><a class="link" title="Download FFmpeg" rel="nofollow" href="https://www.ffmpeg.org/">FFmpeg</a></li>
            </ul>
        </div>
        <div class="section-content">
            <h3>Tutorial</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1ECohlLwbFU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>