<div class="featured">

</div>
<section class="section section-default">
    <div class="section-title">
        <h2>Twitch Channel</h2>
    </div>
    <div class="section-body center-align">
        <div class="section-content">Enter a channel name and choose one of the options below.</div>
        <div class="section-content">
            <span class="bold">Channel:</span>
            <input class="input" name="channel" placeholder="channel name" type="text" id="channel-name" />
            <div class="btn-group">
                <button id="stream" class="btn btn-default">Live Stream</button>
                <button id="preview" class="btn btn-default">Preview</button>
                <button id="download" class="btn btn-default">Download</button>
            </div>
        </div>
    </div>
</section>
<!-- Section Stream -->
<section class="section-default hidden" data-type="section" id="section-stream">
    <h2 class="section-title">Watch Live Stream</h2>
    <div class="section-body">
        <div class="section-content"></div>
    </div>
</section>
<!-- Section Preview -->
<section class="section-default hidden" data-type="section" id="section-preview">
    <h2 class="section-title">Stream Preview</h2>
    <div class="section-body">
        <div class="section-content"></div>
    </div>
</section>