<section class="section section-default">
    <div class="section-title">
        <h2>Login</h2>
    </div>
    <div class="section-body">
        <div class="section-content">
            <a class="link" href="https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&amp;client_id=3wuf1bklpm8iwtm926sccpp53m8m1nr&amp;redirect_uri=http://twitchtools.sixeightone.eu/login.php&amp;scope=user_follows_edit">
                <img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" alt="Twitch Connect" />
            </a>
        </div>
    </div>
</section>