<div>
    <div id="players-container">
        &nbsp;
    </div>
    <div id="streams-controller">
        <input class="input" name="channel" placeholder="channel name" type="text" id="channel-name" />
        <button id="add-player" class="btn btn-default">Add</button>
        <h3>Channels</h3>
        <ul class="list" id="channels-list">
            
        </ul>
        <h3>MultiTwitch Url</h3>
        <div id="url"></div>
    </div>
</div>