<div>
    <div id="streams-container">
        &nbsp;
    </div>
    <div id="streams-controller">
        <input class="input" name="channel" placeholder="channel name" type="text" id="channel-name" />
        <button id="add-player" class="btn btn-default">Add</button>
        <h3>Streams</h3>
        <ul class="list" id="streams-list">
            
        </ul>
        <h3>MultiTwitch Url</h3>
        <div id="multitwitch-url"></div>
    </div>
</div>